table.jslibs tr {
    line-height: 30px;
}

table.jslibs td, table.jslibs th {
    padding: 20px;
    text-align: center;
}

table.jslibs {
    margin-left: 50px;
    font-size: 1.3em;
}

.npm-install {
    font-family: monospace;
    font-size: 0.7em;
}